.min-h-screen {
    background-image: url('https://img.freepik.com/free-vector/hand-drawn-flat-world-aids-day-background_52683-75184.jpg?w=1060&t=st=1695554919~exp=1695555519~hmac=f275345ff659d0783b5629a08593aa7b4132cfebd0e551a3acf2905374bb3f39');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
}